*{
    /* outline: 1px solid white; */
}

#wrapper{
    background-color: #1a1a1a;
    padding: 10px;
}

#header{
    padding: 50px 50px;
    position: relative;
}

#header p{
    color: white;
    display: inline;
    text-align: right;
    position: absolute;
    right: 50px;
}

#toolbar{
    background-color: gray;
    /* padding: 20px 20px 20px 20px; */
}

#toolbar ul{
    list-style: none;
    display: inline;
}

#toolbar li{
    display: inline-block;
    margin: 10px 20px;
    border-right: 2px solid #3f3f3f;
    padding: 10px 20px;
}

#toolbar li:last-child{
    border-right: none;
}

#toolbar a{
    text-decoration: none;
    font-size: 26px;
    color: lightgray;
}

#toolbar .active{
    color: white;
}

#fullscreen{
    width: 100%;
    margin: 5px auto;
    display: block;
}

.service{
    width: 20.5%;
    display: inline-block;
    padding: 20px 0px;
    vertical-align: top;
    margin: 30px;
}

.service img{
    height: 25%;
    width: 25%;
}

.service h2{
    display: inline;
    vertical-align: top;
}

.service p{
    vertical-align: top;
    font-size: 16px;
}

.text{
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 72%;
}

h2{
    color: darkorange;
    vertical-align: top;
    font-size: 24px;
}

.info p{
    color: white;
    display: inline;
}

#buynow{
    position: relative;
    background: repeating-linear-gradient(-55deg, black, black 2px, #2d2d2d 2px, #2d2d2d 4px);
    padding: 30px;
}

h3{
    color: white;
    font-size: 36px;
}

p{
    font-size: 24px;
    color: white;
    width: 75%;
}

#buynow button{
    padding: 20px 40px;
    background-color: orange;
    border-radius: 10px;
    border-color: orange;
    position: absolute;
    right: 100px;
    top: 90px;
    color: white;
    font-weight: bold;
}

#port-header{
    position: relative;
    padding: 20px 40px;
}

h1{
    color: white;
    font-size: 36px;
}

#port-header a{
    text-decoration: none;
    color: orange;
    text-align: right;
    position: absolute;
    right: 20px;
    top: 50px;
}

#port-body{
    padding: 20px 20px 20px 50px;
    margin: 0 auto;
}

.projects{
    width: 24%;
    display: inline-block;
    margin: 5px;
}

.projects img{
    margin: 0px auto;
    padding: 5px;
    display: block;
    background-color: gray;
}

.projects p{
    width: 100%;
}

#footer{
    text-align: right;
    padding: 10px 40px;
}

#footer a{
    color: darkgray;
    font-size: 12px;
    text-align: right;
    text-decoration: none;
}